.work_section {
  background: #f4f6fc;
  padding-top: 128px;
  padding-bottom: 129px;
}
.work_wrapper {
  display: flex;
}
.work_content {
  width: 405px;
}
.work_title {
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  color: #282938;
  margin-bottom: 16px;
}
.work_text {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 16px;
}
.work_link {
  font-weight: 500;
  font-size: 18px;
  line-height: 32px;
  color: #2405f2;
  padding-right: 32px;
  background-image: url(../../../../assets/imgs/blueArrow.svg);
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: center;
}
.work_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 25px;
  grid-row-gap: 48px;
  padding-left: 193px;
}
.work_img {
  width: 50px;
  height: 50px;
}
.work_subtitle {
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  color: #282938;
  margin-top: 16px;
  margin-bottom: 8px;
}
