.cardFlex {
    display: flex;
    align-items: center;
    gap: 15px;
    padding-bottom: 30px;
}
.border {
    width: 180px;
    border-top: 1.5px dashed #2405F2;
}
.round {
    width: 20px;
    height: 20px;
    background: #2405F2;
    border-radius: 15px;
}
.cardHead {
    font-size: 20px;
    padding-bottom: 10px;
    font-family: arial;
}
.cardText {
    font-size: 13px;
    opacity: .7;
}