.head-title {
  color: #282938;
  font-weight: 600;
  font-size: 48px;
  line-height: 64px;
  margin-bottom: 16px;
}
.head-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  text-align: center;
  color: #282938;
  opacity: 0.7;
  margin-bottom: 64px;
}
body {
  background-color: #fff;
}
.headprice-wrap{
    width: 562px;
    text-align: center;
    margin-top: 128px;
}
