.logosec {
    width: 100%;
    padding:0 100px;
    padding-bottom: 100px;
}
.color {
    background: #F4F6FC;
    padding: 100px;
}
.head {
    font-family: arial;
    text-align: center;
    padding-bottom: 48px;
}
.flex {
    display: flex;
    gap: 25px;
    background: #F4F6FC;
}