body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  scroll-behavior: smooth;
}
.container {
  width: 100%;
  max-width: 1420px;
  margin: 0 auto;
  padding: 0 20px;
}
ul,
ol {
  list-style: none;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: auto;
}
